body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    background-image: linear-gradient(45deg, #ffa5c6, rgb(62, 197, 255));

    /* background: url('https://images6.alphacoders.com/408/408258.jpg'); */
    background-size: cover;
    /* background-repeat: no-repeat; */

}


#btn_btn:hover {
    border: 3px solid white;
    overflow: hidden;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in-out, border-color 0.1s ease-in-out;
    box-shadow: 0 0 5px white,
        0 0 20px white,
        0 0 35px white,
        0 0 50px white;
}



.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 12px 9px;
    background-color: #8ac0c5;
    color: white;
    background-image: linear-gradient(114deg, #df5487, rgb(19 142 195));
    padding: 9px 4px;
    border: 2px solid white;
    border-radius: 22px;
    font-size: 29px;
    cursor: pointer;
    width: 114px;
    text-decoration: wavy;
}


/* for 1st  */

.left1 {
    display: block;
    border: 2px solid white;
    position: absolute;
    background-image: linear-gradient(195deg, #dbaabb, rgb(131 191 217));
    cursor: pointer;
    width: 1143px;
    height: 80px;
    padding: 9px;
    margin: 10px;
    left: 134px;
    top: 119px;
    border-radius: 15px;
}

/* for 1st  */

.left2 {
    display: block;
    border: 2px solid white;
    position: absolute;
    background-image: linear-gradient(195deg, #dbaabb, rgb(131 191 217));

    width: 1143px;
    height: 80px;
    padding: 9px;
    margin: 10px;
    left: 134px;
    top: 216px;
    border-radius: 15px;
}

/* for 1st  */

.left3 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(195deg, #dbaabb, rgb(131 191 217));

    position: absolute;
    width: 1143px;
    height: 80px;
    padding: 9px;
    margin: 10px;
    left: 134px;
    top: 313px;
    border-radius: 15px;
}

.left4 {
    display: block;
    border: 2px solid white;
    position: absolute;
    background-image: linear-gradient(195deg, #dbaabb, rgb(131 191 217));
    cursor: pointer;
    width: 1143px;
    height: 80px;
    padding: 9px;
    margin: 10px;
    left: 134px;
    top: 410px;
    border-radius: 15px;
}

.left5 {
    display: block;
    border: 2px solid white;
    position: absolute;
    background-image: linear-gradient(195deg, #dbaabb, rgb(131 191 217));
    cursor: pointer;
    width: 1143px;
    height: 80px;
    padding: 9px;
    margin: 10px;
    left: 134px;
    top: 507px;
    border-radius: 15px;
}

.left11 {
    display: inline;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 560px;
    height: 63px;
    padding: 7px;
    margin: 10px;
    left: 360px;
    top: 127px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left22 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 560px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 360px;
    top: 224px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left33 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 560px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 360px;
    top: 321px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left44 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 560px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 360px;
    top: 418px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left55 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 560px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 360px;
    top: 515px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left111 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 200px;
    height: 63px;
    font-size: 37px;
    left: 990px;
    top: 127px;
    padding: 5px;
    margin: 10px;

    border-radius: 15px;
    text-align: center;
}

.left222 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 200px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 990px;
    top: 224px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left333 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 200px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 990px;
    top: 321px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left444 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 200px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 990px;
    top: 418px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

.left555 {
    display: block;
    border: 2px solid white;
    background-image: linear-gradient(45deg, #c11d59, rgb(18 170 235));
    font-family: 'Baloo Bhai', cursive;
    color: white;
    position: absolute;
    width: 200px;
    height: 63px;
    padding: 5px;
    margin: 10px;
    left: 990px;
    top: 515px;
    border-radius: 15px;
    text-align: center;
    font-size: 37px;
}

/* for 1st  */
.toph {
    display: block;
    position: absolute;
    width: 1159px;
    height: 100px;
    font-size: 42px;
    left: 545px;
    top: 14px;

}

.img1 {
    position: absolute;
    left: 160px;
    top: 97px;

}

.img2 {
    position: absolute;
    left: 225px;
    top: 230px;
}

.img3 {
    position: absolute;
    left: 225px;
    top: 328px;

}

.img4 {
    position: absolute;
    left: 225px;
    top: 426px;

}

.img5 {
    position: absolute;
    left: 225px;
    top: 524px;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 12px 9px;
    background-color: #8ac0c5;
    color: white;
    background-image: linear-gradient(114deg, #df5487, rgb(19 142 195));
    padding: 9px 4px;
    border: 2px solid white;
    border-radius: 22px;
    font-size: 27px;
    cursor: pointer;
    text-decoration: wavy;
}
